<h1> Workouts </h1>
<% if flash[:message].present? %>
<%=flash[:message] %> <br> <br>
<%end%>
<ul>
<% @workouts.each do |w| %>
  <li><%=link_to "#{w.name} - created by #{w.workout_user}", workout_path(w)%></li>
<% end %>
</ul>
