<h1> Welcome <%=@user.name%>! </h1>

#show exercises user has made
  if none, link to create exercise form

#show workouts user has made
  if none, link to create workout form

#link to show all Workouts

#link to show all exercises

<%= link_to(controller: 'session', action: 'destroy', method: "delete"){'Log Out'}%>
