<h1> Welcome <%=@user.name%>! </h1>

<% if current_user.exercises.count == 0 %>
  <p> It looks like you haven't created any exercises yet. Why don't you create one?</p>
  <% else %>
  <p>Here are your Exercises</p>
  <% Exercise.all.each do |e| %>
      <% if e.user_id == current_user.id %>
        <li><%=e.name %></li>
        <%end%>
      <% end %>
<% end %>
#show workouts user has made
  if none, link to create workout form

#link to show all Workouts

#link to show all exercises 
<%= link_to "See All Exercises", exercises_path%> <br>
<%= link_to(controller: 'session', action: 'destroy', method: "delete"){'Log Out'}%>
