<div>
  <div style='width: 600px;margin:auto'>
    <img style='width: 600px' src="https://t3.ftcdn.net/jpg/03/56/86/00/360_F_356860018_2d09E8amlSjh1HPdsNWcjkbBGRqGzuhs.jpg"
    </div>
    <h1 align="center">Welcome to Swolier Than Thou!</h1>
    <p align="center"> Sign Up   Log In</p>
</div>
