<% if params.has_key?("muscle_group_id") %>
  <h1>All Exercises for <%=@muscle_group.name%></h1>
<%else %>
  <h1>All Exercises</h1>
<%end%>

<ul>
<% @exercises.each do |exercise| %>
<li><%= link_to "#{exercise.name}", exercise_path(exercise)%> </li>
<% end %>
</ul>
